body {
  margin: 40px;
  padding: 10px;
}
#landing_footer {
  /* border: 1px solid red; */
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 96px;
}
#footer_main_section {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
}
#footer_main_section > .footer_main_divs {
  padding-bottom: 0px;
}
.footer_main_divs > section {
  /* border: 1px solid red; */
  margin-bottom: 20px;
  margin-right: 40px;
  font-family: sans-serif;
  margin-left: 100px;
  width: 300px;
}
.footer_div_topic {
  line-height: 20px;
  font-size: 15px;
  color: #4c525a;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-bottom: 0px;
}
.footer_div_topic_1 {
  line-height: 20px;
  font-size: 15px;
  color: #4c525a;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-right: 30px;
}
#footer_div_topic_2 {
  margin-left: 10px;
}
.footer_div_topic:hover {
  cursor: pointer;
  font-size: 17px;
}
.footer_div_subtopics {
  line-height: 35px;
  font-size: 16px;
  color: #80838e;
  letter-spacing: 0.01em;
  padding-top: 10px;
}
.footer_div_subtopics > div:hover {
  cursor: pointer;
  font-size: 18px;
}
.footer_div_names:hover {
  cursor: pointer;
}
