#upper_div {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid lightgray;
  padding:10px 20px;
  width:90%;
  border-radius: 10px;
  margin:50px auto;
  align-items:center;
}
#upper_div>div{
  width:fit-content;
}
#upper_div h4{
  font-size:14px;
  margin:10px 0px;
}
#upper_div img {
  width: 30px;
  margin:0 2px;
}
#learn_more {
  background-color: #fefefe;
  font-size: 14px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 20px;
}

#filter {
  display: flex;
  width:90%;
  margin:20px auto;
  justify-content: space-between;
  padding: 12px 40px;
}
#newinvoice {
  color: #fff;
  background: #6bbcbb;
  border:none;
  padding:12px 17px;
  border-radius:4px;
  cursor:pointer;
}
#newinvoice:hover{
  background:#2d7776
}
#dropdown {
  padding: 10px 0px;
  max-width: 100%;
  font-size: 14px;
  color: #303030;
  border-radius: 3px;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccd0d2;
  padding: 10px 12px;
  outline:0;
}
#table-div{
  width:90%;
  margin:40px auto;
  min-height:400px;
}
#table {
  width:100%;
  margin:auto;
  border-collapse:collapse;
}
#table thead tr{
  border-bottom:1px solid lightgrey;
}
#table th{
  color:grey;
  text-align:left;
  font-size:16px;
  font-weight:lighter;
  padding:10px;
  text-align:center;
}
#table tbody{
  width:100%;
}
#table tbody tr{
  background:#b6eeed;
}
#table tbody tr:nth-child(even){
  background:none;
}
#table td{
  padding:10px;
  font-size:14px;
  text-align:center;
}
#trial{
  width:85%;
  padding:5px 40px;
  margin:20px auto;
  z-index:0;
  background:rgb(210, 232, 247);
  border:1px solid rgb(170, 221, 245);
}
#trial i{
  color:blue;
  position:absolute;
  left:-20px;
  top:2px; 
}
.blue14{
  color:blue;
  font-size:14px;
  position:relative;
  align-items:center;
}
.black12{
  color:black;
  font-size:12px;
}

