body {
    margin: 0;
    padding: 0;
    background: #fbfcfc;
    font-family: proxima nova, helvetica neue, helvetica, arial, sans-serif;

}

#container {
    width: 100%;
    padding: 80px 0px;

}

#login_box {

    margin: auto;
    width: 25%;
    border-radius: 10px;
    text-align: center;
    padding: 50px 40px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#input {

    margin: auto;
    margin-top: 30px;

}

#input>input {

    height: 40px;
    width: 100%;
    font-size: 16px;
    color: #292a2d;
    background: #fff;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    padding: 0px 5px;
    transition: all .25s ease;
    outline: none;
}

#input>input:hover {
    border-color: #6bbcbb;
}


#login-btn {
    width: 100%;
    background: #6bbcbb;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
}

#login-btn:hover {
    background-color: #6bbcbb;
}

#option {
    margin-top: 50px;
    color: grey;
}

#option>p {
    color: #6bbcbb;
    cursor: pointer;
}

h2 {
    font-weight: 400;
    margin-bottom: 50px;
}

.login-google-btn {
    display: block;
    padding: 11px;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    line-height: 1em;
}

.login-google-btn:hover {
    border-color: #6bbcbb;
}

.login-divider-section {
    position: relative;
    text-align: center;
    align-items: center;
}

.login-divider-section-or {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 1px 12px 0;
    font-size: 12px;
    color: #bbb;
    background: #fff;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.login-divider {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #eee;
}

nav {
    display: flex;
    height: 70px;
    padding: 0px 10px;
    border-bottom: 1px solid #bbb;
    justify-content: space-between;
}

#logo {
    height: 100%;
    margin-left: 5px;
    cursor: pointer;
}

nav>div+div {
    display: flex;
    align-items: center;

}

nav>div+div>a {
    text-decoration: none;
    margin-left: 20px;
    color: grey;
}

.footer {
    position: relative;
    display: block;
    padding: 80px 0 40px;
}

.footer .wrapper {
    max-width: 900px;
    margin: auto;
}

.row {

    margin-left: 0;
    margin-right: 0;
    text-align: center;

}



.footer-legal-policies {
    padding-top: 20px;
    font-size: 12px;
    color: #cfd2d4;
    text-align: center;
}





.footer-link {
    margin-left: 40px;
    font-size: 13px;

    text-decoration: none;
    display: inline-block;
    color: #aaaaaa;
}



.footer-legal-policies a {

    color: #cfd2d4;
}