#trial{
    position:relative;
    width:85%;
    margin:30px auto;
    z-index:-1;
    padding:5px 40px;
    background:rgb(210, 232, 247);
    border:1px solid rgb(170, 221, 245);
}
#trial i{
    color:blue;
    position:absolute;
    left:15px; 
    top:21px;
}
.blue14{
    color:blue;
    font-size:14px
}
.black12{
    color:black;
    font-size:12px;
}
#filt{
    width:90%;
    margin:auto;
    border:0px solid grey;
}
#filte{
    display:flex;
    justify-content: space-between;
    padding:20px;
}
#filte>select{
    width:200px;
    padding:10px;
    border-collapse:collapse;
    border:2px solid #6bbcbb;
    border-radius: 3px;
}
option{
    padding:10px;
}
#filte>select>option:hover{
    background-color: #6bbcbb;
    color:white;
}
#filte>button{
    background-color: #6bbcbb;
    color:white;
    border:none;
    width:150px;
    
    border-radius: 3px;
}
#filte>button:hover{
    background-color: #00b289;
}

#details{
    width:90%;
    display:flex;
    padding:0;
    margin:auto;
}
.detail{
    border:1px solid rgb(157, 157, 157);
    margin:10px;
    border-radius:10px;
}
#projects-box{
    min-height:300px;
}
.head{
    display:flex;
    padding:5px;
    align-items:center;
    border-bottom:1px solid rgb(140, 140, 140);
    justify-content:space-between;
}
.add-btn{
    padding:10px;
    background-color: #6bbcbb;
    color:white;
    border:none;
    width:150px;
    border-radius: 3px;
}
.add-btn:hover{
    background-color: #00b289;
}
table{
        font-family:sans-serif;
        border-collapse: collapse;
        width:98%;
        margin:auto;
        text-align: center;
        margin-top: 40px;
        color:#464a4f;
        
}
table th{
    border:1px solid #ddd;
    padding:10px;
    text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    margin-left:-140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
  }
  .dropdown-content>p:hover{
    padding:12px 16px;
    background-color: #6bbcbb;
    color:white
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
      