#trial{
    position:relative;
    width:85%;
    margin:30px auto;
    z-index:-1;
    padding:5px 40px;
    background:rgb(210, 232, 247);
    border:1px solid rgb(170, 221, 245);
}
#trial i{
    color:blue;
    position:absolute;
    left:15px; 
    top:21px;
}
.blue14{
    color:blue;
    font-size:14px
}
.black12{
    color:black;
    font-size:12px;
}
#filt{
    width:90%;
    margin:auto;
    border:0px solid grey;
}
#filte{
    display:flex;
    justify-content: space-between;
    padding:20px;
}
#filte>select{
    width:200px;
    padding:10px;
    border-collapse:collapse;
    border:1px solid #6bbcbb;
    outline:0;
    border-radius: 3px;
}
option{
    padding:10px;
}
#filte>select>option:hover{
    background-color: #6bbcbb;
    color:white;
}
#filte>button{
    background-color: #6bbcbb;
    color:white;
    font-size:16px;
    border:none;
    padding:10px 20px;
    border-radius: 3px;
}
#filte>button:hover{
    background-color: #00b289;
}

#table-div{
    width:90%;
    margin:40px auto;
    min-height:400px;
  }
  #table {
    width:100%;
    margin:auto;
    border-collapse:collapse;
  }
  #table thead tr{
    border-bottom:1px solid lightgrey;
  }
  #table th{
    color:grey;
    text-align:left;
    font-size:16px;
    font-weight:lighter;
    padding:10px;
    text-align:center;
  }
  #table tbody{
    width:100%;
  }
  #table tbody tr{
    background:#b6eeed;
  }
  #table tbody tr:nth-child(even){
    background:none;
  }
  #table td{
    padding:10px;
    font-size:14px;
    text-align:center;
  }
  .footer {
    margin: 0px 200px;
  
    text-align: center;
  }
  
  #footer-links {
    margin-bottom: 20px;
  }
  
  .footer-link {
    font-size: 12px;
    color: #92969f;
    text-decoration: none;
    margin: 0 30px 20px 30px;
    font-weight: bolder;
  
  }
  
  #footer-app-links {
    font-size: 14px;
    color: #92969f;
    margin-bottom: 20px;
  
  }
  
  .footer-app-link {
    text-decoration: none;
    color: #92969f;
    margin: 0 20px 20px 20px;
  }
  
  .footer-legal-policies {
    font-size: 12px;
    color: #e5e8e8;
    margin-bottom: 50px;
  }
  
  .footer-legal-policies a {
  
    color: #e5e8e8;
  
  
  }
      