@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
    body{
        margin:0;
        margin-left:200px;
        padding:0;
        font-family: 'Montserrat', sans-serif;
    }
    #sidebar{
        border-right:1px solid lightgray;
        height:100vh;
        width:200px;
        position:fixed;
        top:0;
        left:0;
    }
    #slider{
        padding:0px 5px;
        background:none;
        position : absolute;
        top:18px;
        left:160px;
        z-index:2;
    }
    #sidebar img{
        width:140px;
    }
    .show{
        color:#6bbcbb;
        font-size:20px;
        border:1px solid #6bbcbb;
        border-radius:10%;
        cursor: pointer;
        transition: 200ms;
    }
    .hide{
        font-size:22px;
        color:red;
        border:none;
        padding:0px 5px;
        background:none;
        cursor: pointer;
        transform:rotateZ(-45deg);
        transition: 200ms;
    }
    .sidebar-sec{
        padding:0;
        margin:0;
    }
    ul{
        list-style: none;
        margin-left:-20px;
    }
    ul li{
        margin-top: 8px;
    }
    ul i{
        width:26px;
    }
    ul a{
        color:rgb(73, 73, 73);
        font-size:14px;
        text-decoration:none;
    }
    .category:hover{
        color:black;
    }
    .sidebar-head{
        font-size:16px;
        color:black;
        margin-left:20px;
    }
    #side-slider{
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background:white;
    }
    .show-sec{
        transform : translateX(0%);
        transition: 300ms;
    }
    .hide-sec{
        transform: translateX(-100%);
        transition : 250ms;
    }
    .add-new{
        color:#6bbcbb;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:10px;
        cursor:pointer;
    }
    .add-new:hover{
        background: rgb(192, 192, 192);
        color:black;
    }
    .add-btn{
        color:#6bbcbb;
        border:1px solid #6bbcbb;
        background:none;
        font-size:20px;
        border-radius:10%;
        cursor:pointer;
    }
    #new-data{
        width:100%;
        height:100vh;
        position:fixed;
        top:0;
        left:0;
        background:rgba(0, 0, 0, 0.644);
        display:none;
        z-index:2;
        place-items:center;
    }
    #close-box{
        position:absolute;
        top:10px;
        left:105%;
        background:none;
        border:2px solid black;
        border-radius:50%;
        padding:5px 10px;
        font-size:22px;
    }
    #close-box:hover{
        color:white;
        border:2px solid white;
        cursor:pointer;
    }
    #box{
        width:400px;
        position:relative;
        background:white;
        border:1px solid grey;
        border-radius:10px;
        padding:50px 35px 10px 35px;
    }
    #new-data h2{
        margin:0;
        padding:2px;
        text-align:center;
        border-bottom:2px solid rgb(180, 180, 180);
    }
    .create{
        margin-top:20px;
        display:flex;
        flex-direction:column;
        font-size:16px;
    }
    .create input{
        margin:10px 0px 25px 0px;
        padding:7px 10px;
        border:1px solid grey;
        border-radius:5px;
        font-size:16px;
        caret-color: green;
        outline:1px solid white;
    }
    .create select{
        margin:10px 0px 25px 0px;
        padding:7px 10px;
        border:1px solid grey;
        border-radius:5px;
        font-size:16px;
        caret-color: green;
        outline:1px solid white;
    }
    .create select>option{
        padding:7px 10px;
        font-size:16px;
    }
    .create input:hover{
        outline:1px solid green;
    }
    .create input:focus{
        outline:1px solid green;
    }
    .create input[type='submit']
    {
        background:#3d6665;
        color:white;
        cursor:pointer;
        border:0;
        outline:0;
        border-radius:10px;
        margin-bottom:10px;
    }
    /*Landing  Navbar css */
#nav{
    height:60px;
    width:100%;
    padding:0px;
    display:flex;
    z-index:1;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid lightgray;
}
#left{
    margin-left:20px;
    position:relative;
    display:flex;
    align-items:center;
}
#left i{
    position:absolute;
    left:12px;
    color:grey;
    font-size:14px;
}
#search{
    padding:5px 5px 5px 30px;
    min-width:200px;
    bordeR:1px solid white;
    outline:0;
}
#search:hover{
    border: 1px solid lightcyan;
}
#search:focus{
    border: 1px solid #6bbcbb; 

}
#right{
    display:flex;
    gap:30px;
    align-items:center;
    margin-right:20px;
    justify-content:space-around;
}
.toggle{
    margin-left:-5px;
    font-size:12px;
    color:gray;
    background:none;
    bordeR:none;
    outline:0;
}
#trial-btn{
    color:white;
    background:#6bbcbb;
    bordeR:0;
    outline:0;
    padding:6px 10px;
    border-radius:5px;
    cursor:pointer;
}
#timer-btn{
    color:black;
    background:none;
    bordeR:none;
    outline:0;
    transition:200ms;
    cursor:pointer;
}
#timer-btn>i{
    color:#6bbcbb;
    font-size:16px;
    padding:6px 8px;
    border:2px solid #6bbcbb;
    border-radius:50%;
}
#timer-btn:focus+.toggle{
    transform:rotateZ(180deg);
    transition:200ms;
    cursor:pointer;
}
#timer-btn:focus~#timer{
    display:block;
}
#timer:hover{
    display:block;
}
#timer:focus{
    display:block;
}
.relative{
    position:relative;
}
#account-name{
    color:white;
    background:rgb(65, 63, 63);
    border:0;
    outline:0;
    font-size:22px;
    padding:5px 9px;
    border-radius:6px;
    cursor:pointer;
}
#account-name:focus+.toggle{
    transform:rotateZ(180deg);
    transition:200ms;
    cursor:pointer;
}
#account-name:focus~#account-set{
    display:flex;
}
#account-set{
    display:none;
    margin:0;
    flex-direction:column;
    width:200px;
    border:1px solid lightslategray;
    position:absolute;
    padding:10px 0px;
    top:50px;
    right:0;
    background:white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#account-set p{
    margin:0;
    padding:10px 20px;
    cursor:pointer;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
}
#account-set hr{
    color:#eee;
    width:90%;
    size:1px;
    margin:10px auto;
}
#account-set a{
    color:black;
    text-decoration:none;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
}
#account-set p:hover{
    background:rgb(231, 231, 231);
}
#account-set:hover{
    display:flex;
}
#timer{
    width:400px;
    margin:0;
    padding:0;
    position:absolute;
    display:none;
    right:0;
    background:white;
    top:55px;
    border:1px solid lightgray;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#timer-clock{
    text-align:center;
    border-bottom:1px solid lightgray;
}
#timer-space{
    height:40px;
    border-bottom:1px solid #d3d3d3;
}
#timer-control{
    color:white;
    font-size:30px;
    position:absolute;
    right:41%;
    top:-11px;
    border:2px solid rgb(236, 230, 230);
    width:60px;
    height:60px;
    border-radius:50%;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:200ms;
}
.play{
    outline:5px solid #6bbcbb;
    background:#6bbcbb;
    transition:300ms;
}
.pause{
    outline:5px solid red;
    background:red;
    transition:300ms;
}
#timer-activity{
    min-height:250px;
    display:flex;
}
#reset-timer{
    border:0;
    font-size:18px;
    color:red;
    background:none;
    outline:none;
    position:absolute;
    top:10px;
    right:10px;
    display:none;
    cursor:pointer;
}
#timer-list{
    width:100%;
    padding:20px;
    display:block;
}
#timer-form{
    width:100%;
    display:none;
    padding:20px;
}
#timer-list-box{
    background:red;
}
#timer-list-back{
    border:0;
    font-size:20px;
    color:grey;
    font-weight:bold;
    background:none;
    outline:none;
    position:absolute;
    top:10px;
    left:10px;
    display:none;
    cursor:pointer;
}

#success{
    color:green;
    text-align:center;
    font-size:25px;
}
#success i{
    color:green;
    font-size:30px;
}
#loader{
    width:100%;
    display:grid;
    margin:10px;
    place-items:center;
    padding:20px 0px 40px 0px; 
}
#loader img{
    width:100px;
}