body{
    background-color: #fbfcfc;
}
#buttons_div{
    display: flex;
  width:90%;
  margin:20px auto;
  justify-content: space-between;
  padding: 12px 40px;
}

/* Dropdown Button */
.container {

    /* border: 1px solid red; */
    width:150px;
}

#newTask{

  color: #fff;
  background: #6bbcbb;
  border:none;
  padding:12px 17px;
  border-radius:10px;
  cursor:pointer;
    letter-spacing: 0.05em;
    border-radius: 2px;
    width:150px;
    transition: 0.3s;
}

#newTask:hover{
    cursor: pointer;
    background:#2d7776
}

.click{

    background-color: white;
    

}

.click:hover {

    background-color: none;
    border: 1px solid #00b088;
    cursor: pointer;

}



#dropdown_activeBtn{
   
    padding: 10px 10px;
    max-width: 100%;
    font-size: 14px;
    color: #303030;
    border-radius: 3px;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccd0d2;
    padding: 10px 12px;
    outline:0;
}
#dropdown_activeBtn:hover{
   
    opacity :1 ;
    color: black;
}


/* task table css */


.task_table_div1{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#table_projectAnd_others{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 300px;
    width: 400px;
    justify-content: space-between;
    
}

/* TASK table row addition section */

#task_table_div2{
    padding: 5px 7px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: 1px solid grey;
    /* background-color: white; */
    display: flex;
    align-content: center;
}
#checkbox{
    margin-top: 15px;
    margin-left: 12px;
    margin-right: 10px;
}
#task_input{
    border: 1px solid silver;
    border-radius: 5px;
    /* caret-color: #666666; */
    padding: 5px;
}
#task_input:placeholder-shown{
    border: 1px solid silver;
    padding-left: 5px;
}
#project_client_dueDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
    margin-left: 270px;
    /* border: 1px solid red; */
    margin-top: 10px;
    width: 450px;
}
#project_selection{
    padding: 5px 10px;
    border: 1px solid silver;
}
#client_input{
    width: 40px;
    border: none;
    margin-right: 80px;
}
#date_div{
    margin: left;
    width: 120px;
}
#date_div::placeholder{
    padding: 25px; 
}
#ellipsis_section{
    margin-top: 7px;
    margin-left: 230px;
}
#ellipsis {
    font-size: 25px;
    color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


/* Add task table css */
#table-div{
    width:90%;
    margin:40px auto;
    min-height:400px;
    font-family: 'Montserrat', sans-serif;
}
.table{
    /* box-shadow: ; */
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    width: 100%;
   margin:auto;
    text-align: center;
    /* border: 1px solid silver; */
}
.table thead tr{
    border-bottom: 1px solid lightgrey;
}

.table thead th{
  color:grey;
  text-align:left;
  font-weight:lighter;
  padding:10px;
  text-align:center;
  /* border: 1px solid silver; */
}
.table tbody tr{
    background:#b6eeed;
  }

.table tbody tr:nth-child(even){
    background:none;
  }
  #table td{
    padding:10px;
    font-size:14px;
    text-align:center;
  }

.table td, .table th{
    padding: 10px 20px;
}

/* 3 dot css */

/* Style The Dropdown Button */
.dropbtn {
    background-color: #e8ebf1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
 /* footer css */

 .footer {
    margin: 0px 200px;
    margin-top: 100px;
    text-align: center;
  }
  
  #footer-links {
    margin-bottom: 20px;
  }
  
  .footer-link {
    font-size: 12px;
    color: #92969f;
    text-decoration: none;
    margin: 0 30px 20px 30px;
    font-weight: bolder;
  
  }
  
  #footer-app-links {
    font-size: 14px;
    color: #92969f;
    margin-bottom: 20px;
  
  }
  
  .footer-app-link {
    text-decoration: none;
    color: #92969f;
    margin: 0 20px 20px 20px;
  }
  
  .footer-legal-policies {
    font-size: 12px;
    color: #c7cece; 
    margin-bottom: 50px;
  }
  
  .footer-legal-policies a {
  
    color: #c7cece;
  }




